.date-manipulation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &__container {
        display: flex;
        justify-content: center;
        padding: 15px 20px;
        border: 1px solid #437cff;
        max-height: 400px;
    }
    &__controls {
        display: flex;
        justify-content: space-evenly;
    }
}