<section class="date-manipulation">
  <div class="date-manipulation__container">
    <form [formGroup]="form">
      <div class="form-group">
        <label>Исходная дата</label>
        <input type="date" class="form-control" name="initital_date" formControlName="initital_date" min="1901-01-01" max="2050-12-31">
      </div>
      <div class="date-manipulation__controls">
        <button class="btn btn-primary" (click)="pushDate(form)">Push</button>
        <button class="btn btn-primary" (click)="pullDate()">Pull</button>
      </div>
      <hr>
      <div class="form-group">
        <label>Дата из сервиса</label>
        <input type="date" class="form-control" name="service_date" formControlName="service_date" readonly>
      </div>
      <div class="date-manipulation__controls">
        <button class="btn btn-primary" (click)="sendDate()">Send</button>
      </div>
    </form>
  </div>  
</section>